<!DOCTYPE html>
<html>
  <head>
    <title>每日新学</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="每日新学">
    <meta name="author" content="tianlu">
    <link rel="icon" href="/learn.ico">
    <script src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>

  </head>
  <body>
    <div id="app"></div>


    <link href="https://cdn.bootcss.com/video.js/7.0.0/alt/video-js-cdn.min.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/6.10.1/video.js"></script>
  </body>
</html>
