@font-face {
  font-family: 'sport';
  src: url('../fonts/sport.ttf?sjv0fd') format('truetype'),
  url('../fonts/sport.woff?sjv0fd') format('woff'),
  url('../fonts/sport.svg?sjv0fd#sport') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sport' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencel:before {
  content: "\e920";
}
.icon-empty .path1:before {
  content: "\e92f";
  color: rgb(255, 255, 255);
}
.icon-empty .path2:before {
  content: "\e930";
  margin-left: -0.9638671875em;
  color: rgb(35, 24, 21);
}
.icon-empty .path3:before {
  content: "\e931";
  margin-left: -0.9638671875em;
  color: rgb(35, 24, 21);
}
.icon-empty .path4:before {
  content: "\e932";
  margin-left: -0.9638671875em;
  color: rgb(35, 24, 21);
}
.icon-empty .path5:before {
  content: "\e933";
  margin-left: -0.9638671875em;
  color: rgb(35, 24, 21);
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-black-dot:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-chose-course:before {
  content: "\e904";
}
.icon-comments:before {
  content: "\e905";
}
.icon-datetime:before {
  content: "\e906";
  color: #9e9e9e;
}
.icon-default-avatar .path1:before {
  content: "\e907";
  color: rgb(195, 196, 197);
}
.icon-default-avatar .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-default-avatar .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 0, 128);
}
.icon-default-avatar .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(153, 153, 154);
}
.icon-default-avatar .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(153, 153, 154);
}
.icon-default-avatar .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(153, 153, 154);
}
.icon-default-avatar .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(153, 153, 154);
}
.icon-gender-man:before {
  content: "\e90e";
  color: #09a5ef;
}
.icon-gender-woman:before {
  content: "\e90f";
  color: #ff5e89;
}
.icon-home-solid:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-learn-count:before {
  content: "\e912";
  color: #9e9e9e;
}
.icon-learned:before {
  content: "\e913";
}
.icon-list:before {
  content: "\e914";
}
.icon-logo .path1:before {
  content: "\e915";
  color: rgb(195, 196, 197);
}
.icon-logo .path2:before {
  content: "\e916";
  margin-left: -1.001953125em;
  color: rgb(255, 255, 255);
}
.icon-logo .path3:before {
  content: "\e917";
  margin-left: -1.001953125em;
  color: rgb(255, 0, 128);
}
.icon-logo .path4:before {
  content: "\e918";
  margin-left: -1.001953125em;
  color: rgb(153, 153, 154);
}
.icon-logo .path5:before {
  content: "\e919";
  margin-left: -1.001953125em;
  color: rgb(153, 153, 154);
}
.icon-logo .path6:before {
  content: "\e91a";
  margin-left: -1.001953125em;
  color: rgb(153, 153, 154);
}
.icon-logo .path7:before {
  content: "\e91b";
  margin-left: -1.001953125em;
  color: rgb(153, 153, 154);
}
.icon-new-topic:before {
  content: "\e91c";
}
.icon-no-learn:before {
  content: "\e91d";
}
.icon-praise-solid:before {
  content: "\e91e";
  color: #ff5e89;
}
.icon-praise:before {
  content: "\e91f";
}
.icon-search .path1:before {
  content: "\1f309";
  color: rgb(232, 232, 233);
}
.icon-search .path2:before {
  content: "\1f30a";
  margin-left: -0.990234375em;
  color: rgb(0, 0, 0);
}
.icon-share:before {
  content: "\e922";
}
.icon-star-solid:before {
  content: "\e923";
  color: #f7ec00;
}
.icon-star:before {
  content: "\e924";
}
.icon-tag:before {
  content: "\e925";
}
.icon-topic-add-media:before {
  content: "\e926";
  color: #09a5ef;
}
.icon-topic-add-photo:before {
  content: "\e927";
}
.icon-topic-add-text:before {
  content: "\e928";
  color: #09a5ef;
}
.icon-topic-add:before {
  content: "\e929";
  color: #09a5ef;
}
.icon-topic-close:before {
  content: "\e92a";
  color: #9e9e9e;
}
.icon-topic-count:before {
  content: "\e92b";
  color: #9e9e9e;
}
.icon-user-solid:before {
  content: "\e92c";
}
.icon-user:before {
  content: "\e92d";
}
.icon-write:before {
  content: "\e92e";
}
